.Scanner {
  &--container {
    background-color: #504D4D;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    @media all and (min-width: 720px) {
      height: 85%;
    }
  }

  &--message {
    height: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @media all and (min-width: 720px) {
      height: 15%;
    }
  }

  &--errorIcon {
    color: #fff;
    width: 180px;
  }

  &--switchCamera {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4c4c4c;
    z-index: 100;
    right: 20px;
    top: 20px;
    width: 56px;
    height: 56px;
    background-color: #fff;
    border-radius: 28px;
  }
}

#video video {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  @media all and (min-width: 720px) {
    height: 85%;
  }
}