.scanner {
  height: 100%;

  &__renderVideo {
    background-color: $secondary-color;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media all and (min-width: 720px) {
      height: 85%;
    }

    video {
      position: absolute;
      width: 100%;
      height: 90%;
      z-index: 0;
      top: 0;
      left: 0;
      object-fit: cover;

      @media all and (min-width: 720px) {
        height: 85%;
      }
    }
  }

  &__errorIcon {
    color: $text;
    width: 150px;
    height: auto;
  }

  &__message {
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #fff;
    justify-content: center;
    align-items: center;
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;

    @media all and (min-width: 720px) {
      height: 15%;
    }
  }



  .button__close {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4c4c4c;
    width: 56px;
    height: 56px;
    margin-top: -3.5rem;
    margin-bottom: 2rem;
    background-color: $primary-color;
    border-radius: $border-radius-lg;
    box-shadow: 0 0 20px $primary-color;
  }
}